* {
    margin:0px;
    padding:0px;
}
body {
    font-family: "Roboto", sans-serif;
    
}
.nav-bar {
    height:60px;
    width:100%;
    background-color: black;
    cursor:pointer;
    padding-left:100px;
    color:white;
}
.sidebar{
    height:100vh;
    width:100px;
    background-color: rgb(6, 4, 0);
    position: fixed;
    top:0;
    display:flex;
    flex-direction: column;
    z-index:1;
}
.navbar-container {
    height:100%;
    width:100%;
    display:flex;
   
    padding-bottom: 5px;
    align-items:center;
    font-family: "Playfair Display", serif;
}
.logo-container {
    color:rgb(9, 153, 9);
    height:100%;
    display:flex;
    align-items: center;
    margin-left:1rem;
    margin-right: 4rem;
}
.menu-container {
    display:flex;
    align-items: center;
    width:60%;
   gap:3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(18, 186, 186);
    height:100%;
    margin-top:10px;
}
.profile-container {
height:100%;
display:flex;
align-items:center;
font-weight: bold;
gap:1.1rem;
margin-left:3rem;
}
.profile-container img {
    height:40px;
    width:40px;
    object-fit: cover;
border-radius: 50%;
}
.profile-font {
    height:100%;
    display:flex;
align-items:center;
gap:0.4rem;
}
.toggler {
    height:30px;
    width:60px;
    background-color: aliceblue;
    border-radius: 1rem;
    font-size: 1.3rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:blue;
    position: relative;
}
.ball {
    height:25px;
    width:45%;
    background-color: black;
    position:absolute;
    left:30px;
    border-radius: 50%;
    transition:all 0.3s ease-in-out;
}
.sidebar-content {
    color:white;
font-size: 1.5rem;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items:center;
    margin-top: 4.5rem;
}
.container {
    min-height:calc(100vh - 60px);
    width:100%;
    background-color: #151515;
    padding-left:100px;
    color:white;
}
.content-container {
    display: flex;
    flex-direction: column;
    gap:1.9rem;
    padding-bottom: 20px;
}
.featured-content {
    height:55vh;
}
.featured-content img {
    width:200px;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    object-fit: cover;
}
.featured-text {
    padding-left:1.5rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:antiquewhite
}
.featured-btn {
    height:40px;
    width:160px;
    font-size: 1.5rem;
    background-color: rgba(127, 216, 10, 0.973);
    background:linear-gradient(rgba(127, 216, 10, 0.973),rgb(20, 166, 20),rgb(3, 53, 3));
    border-radius: 2rem;
    margin:20px;
    margin-left:4rem;
border:none;
color:#171717;
}
.movie-list-container {
    padding-left: 20px;
}
.movie-list {
    display: flex;
    align-items: center;
    gap:1.9rem;
    transform: translateX(0px);
    transition:all 1s ease-in-out;
}
.movie-list-items {
position:relative;
}
.movie-list-items img {
    transition:all 1s ease-in-out;
    margin-top:1rem;
    height:200px;
    width:300px;
    object-fit: cover;
    border-radius: 1rem;
}
.movie-list-items img:hover{
    transform:scale(1.3);
    opacity:0.7;
}
.movie-list-items-title {
   font-size: 2rem;
   padding-left: 40%;
  font-weight: bold;
  color:#31c608;
  position:absolute;
  top:10%;
  left:20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.movie-list-items-desc {
    font-size: 0.9rem;
    color:rgb(7, 2, 39);
    padding-right: 1.3rem;
    position:absolute;
  top:40%;
  left:20px;
  opacity: 0;
  background-color: grey;
  transition: all 1s ease-in-out;
}
.movie-list-items-btn {
    margin-left:  40%;
    padding: 10px;
    border-radius: 1rem;
    background:linear-gradient(rgb(240, 50, 82),rgb(242, 5, 45),rgb(82, 3, 16));
    border:none;
    position:absolute;
  top:80%;
  left:20px;
  opacity:0.6;
  transition: all 1s ease-in-out;
}
.movie-list-items-btn a{
    text-decoration: none;
    color:navy;
}
.movie-list-items-desc:hover,
.movie-list-items-btn:hover,
.movie-list-items-title:hover{
    opacity:1;
}
.movie-list-wrapper {
    position:relative;
}
.arrow {
    font-size: 140px;
    color:lightseagreen;
    opacity:0.7;
position:absolute;
right:110px;
top:15%;
}
.content-container.active{
    background-color: whitesmoke;
    color:black;
}
.navbar-container.active{
    background-color: whitesmoke;
    color:black;
}
.sidebar.active {
    background-color: whitesmoke;
}
.sidebar-content.active {
    color:black;
}
.menu-container.active {
    color:blue;
}
.arrow .active{
   color:rgb(66, 19, 59);
   opacity:0.8;
}
.toggler.active{
    background-color: black;
}
.ball.active {
    background-color:whitesmoke;
    transform: translateX(-30px);
}
@media(max-width:777px){
    .menu-container{
        display:none;
    }
    .sidebar{
        position:fixed;
        width:50px;
    height:400vh;
    }
    .nav-bar{
        width:300vh;  
        padding-left: 50px;
    }
    .navbar-container{
        margin-left: 0px;
    }
    .container{
        width:300vh;
        height:600vh;
        padding-left: 50px;
    }
    .container.active{
        background-color: whitesmoke;
    }
    
    .profile-container{
        margin-left: 0.5rem;
    }
    .arrow{
        color:yellow;
        opacity:1;
        left:259px;
    }
    .featured-text{
        margin-top:0px;
        padding-right: 277px;
    }
    .featured-content{
        height:62vh;
    }
    .movie-list-container{
        margin-top: 77px;
    }
}
